.height {
    height: 10rem;
}

.foot {
    position: fixed;
    bottom: 0;
    padding-top: 1rem;
    background: #fff;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.foot>ul>li {
    width: 20vw;
    height: 3.5rem;
    float: left;
}

.foot>ul>li>a>img {
    width: 1.5rem;
    height: 1.5rem;
}

.foot a {
    display: flex;
    width: 19.5vw;
    height: 3.5rem;
    flex-direction: column;
    text-align: center;
    color: #666;
}

.foot img {
    width: 2rem;
    height: 2rem;
}

.yero {
    color: #F18215!important
}