.No-input {
    height: 10.5rem;
    background: #fff;
    width: 99vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    border: 1px solid #DFDFE1
}

.yz {
    width: 64vw!important;
    height: 3.5rem;
}

.No-input>button {
    width: 30vw;
    color: #F49401;
    border: 1px solid #DFDFE1;
    background-color: #fff
}

.No-input input {
    height: 3.5rem;
    width: 30rem;
    border: 1px solid #DFDFE1;
    padding-left: 1rem
}

.Ok-button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between
}

.Ok {
    height: 3rem;
    width: 90vw;
    color: #fff;
    border: 0;
    border-radius: 0.3rem;
    background: #F49401;
}

.singin {
    background: #6BBDD0;
    margin-right: 5vw
}