.nav-box {
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #fff
}

.yero {
    color: #F6A01C
}

.nav-box li:first-child {
    border: 0
}

.nav-box li {
    border-left: 1px solid #E4E4E4;
    width: 24vw;
    float: left;
    justify-content: center;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem
}

.nav-box li>img {
    margin-left: 2vw;
    width: 0.8rem
}

.aleny-box {
    width: 100vw;
    height: 8rem;
    background: #fff;
    margin-top: 1.5rem;
    display: flex
}

.aleny-box>p {
    width: 50vw;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem
}

.aleny-box>p>span {
    width: 50vw;
    display: flex;
    font-size: 1.1rem;
    min-height: 2rem
}

.bder {
    width: 4rem!important;
    justify-content: center
}

.aleny-box>p>span:last-child {
    width: 50vw;
    display: flex;
    font-size: 0.8rem;
    color: #999
}

.aleny-box>div {
    width: 25vw;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.aleny-box img {
    width: 5rem
}

.aleny-box>div>span {
    border: 1px solid #F6A01C;
    width: 4.5rem;
    text-align: center;
    border-radius: 0.3rem;
    height: 2rem;
    line-height: 2rem;
    color: #F6A01C;
}

.height {
    height: 7rem!important;
    width: 100vw
}

#imgbtn {
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    width: 3rem
}

.aler {
    position: fixed;
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
    z-index: 2
}

.btn {
    position: fixed;
    background: #fff;
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    z-index: 2;
    bottom: 0;
}

.btn>button {
    width: 6rem;
    margin-top: 3rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: #F49401;
    border: 0;
    color: #fff
}

.NO {
    background: #666!important
}

.mc {
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
    top: 0;
    background-color: #666
}

.dd {
    background: #fff;
    z-index: 2;
    width: 80vw;
    text-align: center
}

.dd>h3 {
    width: 80vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F49401;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400
}

.dd>ul>li {
    width: 80vw;
    height: 3.5rem;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #666
}